
.card  h4 {
    color: blue;
}

.container-card{
    h4 {

        cursor: pointer;
        .custum-icon_plus{
            font-size: 14px;
            color: green;
        }

        .custum-icon_sort{
            color: orange;
        }

        .custum-icon_times{
            float: right;
            color: red;
        }
    }
}

